.logo {
  position: fixed;
  animation: animationLogo;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-play-state: running;
}

.iconnBiss {
  animation: animE;
  animation-duration: 10s;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  animation-delay: 0s;
  animation-play-state: running;
  z-index: 0;
}

.iconBiss {
  animation: animD;
  animation-duration: 10s;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  animation-delay: 0s;
  animation-play-state: running;
  z-index: 0;
}

.anim>img {
  animation: animationLogo;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-play-state: running;
  width: 100px;
  height: 100px;
}

.link {
  color: white;
  text-decoration: none;
  font-size: 1em;
  z-index: 30;
}

.link:hover {
  color: #f50059;
  z-index: 30;
  font-size: 1.1em;
}

.Icon {
  animation: animE;
  animation-duration: 10s;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  animation-delay: 0s;
  animation-play-state: running;
  z-index: 0;
}

.iconBis {
  z-index: 0;
  animation-name: animL;
  animation-duration: 7s;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  animation-delay: 0s;
  animation-play-state: running;
  position: fixed;
}

@keyframes anim {
  0% {
    -webkit-transform: translate(0vw, 0vh);
    transform: translate(0vw, 0vh);
  }

  10% {
    -webkit-transform: translate(0vw, 90vh);
    transform: translate(0vw, 90vh);
  }

  20% {
    -webkit-transform: translate(30vw, 0vh);
    transform: translate(30vw, 0vh);
  }

  30% {
    -webkit-transform: translate(60vw, 90vh);
    transform: translate(60vw, 90vh);
  }

  40% {
    -webkit-transform: translate(90vw, 0vh);
    transform: translate(90vw, 0vh);
  }
}

@keyframes animL {
  0% {
    -webkit-transform: translate(-10vw, -10vh);
    transform: translate(-40vw, -40vh);
  }

  10% {
    -webkit-transform: translate(-10vw, 90vh);
    transform: translate(-10vw, 90vh);
  }

  20% {
    -webkit-transform: translate(10vw, 0vh);
    transform: translate(10vw, 0vh);
  }

  30% {
    -webkit-transform: translate(30vw, 90vh);
    transform: translate(30vw, 90vh);
  }

  40% {
    -webkit-transform: translate(50vw, 0vh);
    transform: translate(50vw, 0vh);
  }

  50% {
    -webkit-transform: translate(100vw, 90vh);
    transform: translate(100vw, 90vh);
  }

  60% {
    -webkit-transform: translate(50vw, 0vh);
    transform: translate(50vw, 0vh);
  }

  70% {
    -webkit-transform: translate(30vw, 90vh);
    transform: translate(30vw, 90vh);
  }

  80% {
    -webkit-transform: translate(10vw, 0vh);
    transform: translate(10vw, 0vh);
  }

  90% {
    -webkit-transform: translate(-10vw, 90vh);
    transform: translate(-10vw, 90vh);
  }

  100% {
    -webkit-transform: translate(-10vw, -10vh);
    transform: translate(-40vw, -40vh);
  }
}

@keyframes animD {
  0% {
    -webkit-transform: translate(0vw, 0vh);
    transform: translate(0vw, 0vh);
  }

  10% {
    -webkit-transform: translate(20vw, 90vh);
    transform: translate(20vw, 90vh);
  }

  20% {
    -webkit-transform: translate(40vw, 0vh);
    transform: translate(40vw, 0vh);
  }

  30% {
    -webkit-transform: translate(60vw, 90vh);
    transform: translate(60vw, 90vh);
  }

  40% {
    -webkit-transform: translate(80vw, 0vh);
    transform: translate(80vw, 0vh);
  }

  50% {
    -webkit-transform: translate(100vw, 90vh);
    transform: translate(100vw, 90vh);
  }

  60% {
    -webkit-transform: translate(80vw, 0vh);
    transform: translate(80vw, 0vh);
  }

  70% {
    -webkit-transform: translate(60vw, 90vh);
    transform: translate(60vw, 90vh);
  }

  80% {
    -webkit-transform: translate(40vw, 0vh);
    transform: translate(40vw, 0vh);
  }

  90% {
    -webkit-transform: translate(20vw, 90vh);
    transform: translate(15vw, 90vh);
  }

  100% {
    -webkit-transform: translate(0vw, 0vh);
    transform: translate(0vw, 0vh);
  }
}

@keyframes animE {
  0% {
    -webkit-transform: translate(40vw, 40vh);
    transform: translate(40vw, 40vh);
  }

  10% {
    -webkit-transform: translate(30vw, 90vh);
    transform: translate(30vw, 90vh);
  }

  20% {
    -webkit-transform: translate(0vw, 0vh);
    transform: translate(0vw, 0vh);
  }

  40% {
    -webkit-transform: translate(40vw, 90vh);
    transform: translate(40vw, 90vh);
  }

  50% {
    -webkit-transform: translate(60vw, 0vh);
    transform: translate(60vw, 0vh);
  }

  60% {
    -webkit-transform: translate(30vw, 90vh);
    transform: translate(30vw, 90vh);
  }

  80% {
    -webkit-transform: translate(0vw, 0vh);
    transform: translate(0vw, 0vh);
  }
}

.titre {
  color: white;
  font-size: 8em;
  z-index: 50;
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-filter: opacity(1);
  filter: opacity(1);
}

@keyframes animationLogo {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=AnimationHome.module.css.map */