@media screen and (min-width: 1365px) and (max-width: 1919px) {
  .postBis {
    margin-top: 70px;
    font-size: 1em;
    text-align: justify; }

  .postBisBisContainer {
    width: 100%;
    box-sizing: border-box;
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    background: RGBA(2, 1, 34, 0.6);
    border: 0.5px solid RGBA(245, 0, 89, 1);
    margin-top: 0px;
    text-align: center;
    padding: 0px;
    font-size: 0.8em; }

  .ContainerPostBis {
    width: 100vw;
    height: 100vh;
    background: #020122;
    position: fixed;
    z-index: 10;
    display: flex;
    padding: 0px;
    text-align: justify; }

  .ContainerPost {
    display: flex;
    z-index: 50;
    border: 3px solid red;
    background: #020122;
    margin-left: 840px;
    height: 82.3vh;
    width: 40vw;
    transition: all 0.5s ease-in-out;
    text-align: center;
    justify-content: center; } }
@media screen and (width: 1366px) and (height: 768px) {
  .ContainerPostBis {
    width: 100vw;
    height: 100vh;
    background: #020122;
    position: fixed;
    z-index: 10;
    display: flex;
    padding: 0px;
    text-align: justify; }

  .ContainerPost {
    display: flex;
    z-index: 50;
    border: 3px solid red;
    background: #020122;
    margin-left: 800px;
    height: 85.5vh;
    width: 40vw;
    transition: all 0.5s ease-in-out;
    text-align: center;
    justify-content: center;
    box-sizing: border-box; }

  .postBis {
    margin-top: 60px;
    font-size: 1em;
    text-align: justify; }

  .ContainerPostBis {
    width: 100vw;
    height: 100vh;
    background: #020122;
    position: fixed;
    z-index: 10;
    display: flex;
    padding: 0px;
    text-align: justify; } }
@media screen and (width: 1920px) and (height: 1080px) {
  .postBis {
    margin-top: 90px;
    font-size: 1.4em;
    text-align: justify; }

  .postBisBisContainer {
    width: 100%;
    box-sizing: border-box;
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    background: RGBA(2, 1, 34, 0.6);
    border: 0.5px solid RGBA(245, 0, 89, 1);
    margin-top: 0px;
    text-align: center;
    padding: 0px;
    font-size: 0.8em; }

  .ContainerPost {
    display: flex;
    z-index: 50;
    border: 3px solid red;
    background: #020122;
    margin-left: 1100px;
    height: 83.4vh;
    width: 40vw;
    transition: all 0.5s ease-in-out;
    text-align: center;
    justify-content: center;
    box-sizing: border-box; } }
@media screen and (min-width: 750px) and (max-width: 1365px) {
  .postBis {
    margin-top: 60px;
    font-size: 1em;
    text-align: justify; } }
.ContainerPostBis {
  width: 100vw;
  height: 100vh;
  background: #020122;
  position: fixed;
  z-index: 10;
  display: flex;
  padding: 0px;
  text-align: justify; }

.postBisContainer {
  margin-top: 30px;
  width: 100vw;
  flex-direction: column;
  display: flex;
  color: white;
  text-align: center; }

.postBisBisContainer {
  width: 100%;
  box-sizing: border-box;
  flex-direction: row;
  display: flex;
  justify-content: space-evenly;
  background: RGBA(2, 1, 34, 0.6);
  border: 0.5px solid RGBA(245, 0, 89, 1);
  margin-top: 0px;
  text-align: center;
  padding: 0px;
  font-size: 0.8em; }

.searchRechercher {
  height: 35px;
  margin-top: 0px; }

@media screen and (min-width: 1450px) {
  .searchRechercher {
    height: 35px;
    display: flex;
    flex-direction: column; } }

/*# sourceMappingURL=Style.module.css.map */
