@media screen and (min-width: 1450px) {
  .postBis {
    margin-top: 60px;
    font-size: 1.3em;
    text-align: justify;
  }
}

@media screen and (min-width: 960px) and (max-width: 1450px) {
  .postBis {
    margin-top: 70px;
    font-size: 1em;
    text-align: justify;
  }
}

.ContainerPostBis {
  width: 100vw;
  height: 100vh;
  background: rgba(2, 1, 34, 1);
  position: fixed;
  z-index: 10;
  display: flex;
  padding: 0px;
  text-align: justify;
}

.postBisContainer {
  margin-top: 30px;
  width: 100vw;
  flex-direction: column;
  display: flex;
  color: white;
  text-align: center;
}

.postBisBisContainer {
  width: 100%;
  flex-direction: row;
  display: flex;
  justify-content: space-evenly;
  background: RGBA(2, 1, 34, 0.6);
  border: 0.5px solid RGBA(245, 0, 89, 1);
  margin-top: 0px;
  text-align: center;
  padding: 0px;
  font-size: 0.8em;
}

@media screen and (min-width: 1450px) {
  .ContainerPost {
    display: flex;
    z-index: 50;
    border: 3px solid red;
    background: rgba(2, 1, 34, 1);
    margin-left: 1130px;
    height: 87vh;
    width: 40vw;
    transition: all 0.5s ease-in-out;
    text-align: center;
    justify-content: center;
  }
}

@media screen and (min-width: 960px) and (max-width: 1450px) {
  .ContainerPost {
    display: flex;
    z-index: 50;
    border: 3px solid red;
    background: rgba(2, 1, 34, 1);
    margin-left: 850px;
    height: 82.5vh;
    width: 40vw;
    margin-top: 0px;
    transition: all 0.5s ease-in-out;
    text-align: center;
    justify-content: center;
  }
}
.searchRechercher {
  height: 35px;
  margin-top: 0px;
}

@media screen and (min-width: 1450px) {
  .searchRechercher {
    height: 35px;
    display: flex;
    flex-direction: column;
  }
} ;
